# ==========================================
# Core Framework & API
# ==========================================
Django==6.0.3
djangorestframework==3.17.1
django-cors-headers==4.9.0
django-filter==26.1

# ==========================================
# Authentication & Security
# ==========================================
djangorestframework_simplejwt==5.5.1
python-dotenv==1.2.2

# ==========================================
# Database & Caching
# ==========================================
mysqlclient==2.2.8
redis==5.0.1
django-redis==7.0.0

# ==========================================
# Asynchronous Tasks (Celery)
# ==========================================
celery==5.6.3

# ==========================================
# API Documentation
# ==========================================
drf-spectacular==0.30.0

# ==========================================
# Utilities & Logging
# ==========================================
concurrent-log-handler==0.9.29
requests==2.33.1
Pillow==12.2.0

# ==========================================
# Data Processing & Exports
# ==========================================
pandas==3.0.2
openpyxl==3.1.5
xlsxwriter==3.2.9
xhtml2pdf==0.2.17

# Testing
pytest==8.0.0
pytest-django==4.8.0
factory_boy==3.3.0
responses==0.25.0

# Typing & Linting
mypy==1.8.0
django-stubs==4.2.7
djangorestframework-stubs==3.14.5
jsonpath-ng
