[Unit]
Description=AlfJobs Production Spring Boot Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/alfjobs/production
EnvironmentFile=/opt/alfjobs/production/.env
ExecStart=/usr/bin/java -jar /opt/alfjobs/production/alfjobs-backend.jar
SuccessExitStatus=143
Restart=always
RestartSec=5
StandardOutput=append:/opt/alfjobs/production/logs/app.out.log
StandardError=append:/opt/alfjobs/production/logs/app.err.log

[Install]
WantedBy=multi-user.target
