[Unit]
Description=Celery Beat Scheduler
After=network.target redis.service

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/aethyrtech/django-staging
EnvironmentFile=/opt/aethyrtech/django-staging/.env

ExecStart=/opt/aethyrtech/django-staging/venv/bin/celery \
  -A config beat \
  --loglevel=info

Restart=always
RestartSec=5

StandardOutput=append:/opt/aethyrtech/logs/celery-beat.log
StandardError=append:/opt/aethyrtech/logs/celery-beat.err.log

[Install]
WantedBy=multi-user.target